{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform},
    {parse_transform, lager_transform}
]}.

{deps, [
    {lldp, "0.1.0"},
    {sync,       {git, "https://github.com/vasu-dasari/sync.git",          {branch, "master"}}},
    {lager,      {git, "https://github.com/basho/lager.git",               {tag, "3.2.1"}}},
    {of_driver,  {git, "https://github.com/vasu-dasari/of_driver.git",     {branch,"master"}}},
    {of_msg_lib, {git, "git://localhost/of_msg_lib.git",                   {branch, "master"}}},
    {of_protocol,{git, "git://localhost/of_protocol.git",                  {branch,"master"}}},
    {of_config,  {git, "https://github.com/FlowForwarding/of_config.git",  {branch,"master"}}},
    {ofs_handler,{git, "https://github.com/FlowForwarding/ofs_handler.git",{branch,"master"}}},
    {of_driver,  {git, "https://github.com/FlowForwarding/of_driver.git",  {branch,"master"}}},
    {meck,       {git, "https://github.com/eproxus/meck.git",              {tag, "0.8.9"}}}
]}.

{relx, [
    {release, { loom, "0.1.0" }, [
        sasl,
        loom,
        lager,
        sync
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.

{shell, [
    {apps, [
        loom,
        sync
    ]}
]}.

{profiles, [
    {l2switch, [
        {deps, [loom]}
    ]}
]}.